body{
    background-color: whitesmoke;
}
.head{
    background-color: white;
    height: 50px;
    padding: 10px;
}
.right{
    float: right;
    font-size: small;
}

.searchbar{
    background-color: white;
    box-shadow: 2px 4px rgb(238, 233, 233);
    margin: 20px;
    outline: none;
    border:none;
    width: 25%;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
}
/* .content{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content:space-evenly;
} */

.content{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr)); /*RAM -REPEAT ,AUTOFIT, MINMAX*/
}
/* @media(min-width:500px){
    .content{
        grid-template-columns: repeat(2,1fr)
    }
}
@media(min-width:850px){
    .content{
        grid-template-columns: repeat(3,1fr)
    }
} */


.card{
    background-color: white;
    width: 250px;
    /* display: inline-block; */
    /* margin: 20px; */
    border-radius: 5px;
    box-shadow: 4px 6px rgb(238, 233, 233);
}
.card img{
    height: 150px;
    width: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.name{
    font-weight: bold;
    padding: 5px;
}
.text{
    font-size: small;
    padding: 5px;
}

/***********/

